{{#> layout }}
  <h2><a href="/server/{{server}}">{{serverName}}</a></h2>
  <h3>Properties</h3>
  
  <form action="/server/{{server}}/properties" method="post">
    {{#each properties}}
    <div>
      <label>
        <div>{{key}}</div>

        {{#if (eq type "string")}}
          <input type="text" name="{{key}}" value="{{value}}" />
        {{else if (eq type "number")}}
          <input type="number" name="{{key}}" value="{{value}}" />
        {{else if (eq type "boolean")}}
          <input type="checkbox" name="{{key}}" {{#if (eq value "on")}}checked="true"{{/if}} />
        {{else if (eq type "select")}}
          <select name="{{key}}">
            {{#each options}}
              <option {{#if (eq ../value .)}}selected="true"{{/if}}>{{.}}</option>
            {{/each}}
          </select>
        {{/if}}

        <p>{{description}}</p>
        
      </label></div>
    {{/each}}
  
    <input type="submit" value="Create!" />
  </form>
{{/layout }}