{{#> layout }}
  <h2>{{serverName}}</h2>
  <div>Port: {{port}}</div>
  {{#if running}}
    <form action="/server/{{server}}/stop" method="post">
      <input type="submit" value="Stop" />
    </form>
  {{ else }}
    <form action="/server/{{server}}/start" method="post">
      <input type="submit" value="Start" />
    </form>
  {{/if}}
  {{#if enabled}}
    <form action="/server/{{server}}/disable" method="post">
      <input type="submit" value="Disable" />
    </form>
  {{ else }}
    <form action="/server/{{server}}/enable" method="post">
      <input type="submit" value="Enable" />
    </form>
  {{/if}}
    <form action="/server/{{server}}/updateScripts" method="post">
      <input type="submit" value="Update Scripts" />
    </form>

  <h3>Worlds</h3>
  <ul>
    {{#each worlds}}
      <li>{{#if isDefault}}Y{{else}}N{{/if}} <a href="/server/{{../server}}/world/{{name}}">{{name}}</a></li>
    {{/each}}
  </ul>
{{/layout }}